<p id="notice"><%= notice %></p>

<p>
  <strong>Digits:</strong>
  <%= @credit_card.digits %>
</p>

<p>
  <strong>Month:</strong>
  <%= @credit_card.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @credit_card.year %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
