
<%= form_for :charge, url: charges_path do |f| %>
  <%= hidden_field_tag :product_id, product.id %>
 
  <% if flash[:error].present? %>
    <p><%= flash[:error] %></p>
  <% end %>
 
  <%= f.select :card_id, current_user.credit_cards.reject{ |card| card.new_record? }.collect { |card| [card.digits, card.stripe_id] }, { include_blank: false } %>
  <%= f.button :submit, data: { 'disable-with' => 'Please wait ...' } %>
<% end %>